<?xml version="1.0"?>
<launch>

    <arg name="autonomous_drive" default="false"/>

    <node pkg="turtlesim" type="turtlesim_node" name="turtle1">
            <remap from="/turtle1/cmd_vel" to="/cmd_vel"/>
    </node>

    <group if="$(arg autonomous_drive)">
        <node pkg="ros_2310077" type="drive_in_circle.py" name="control_circle">
            <remap from="/turtle1/cmd_vel" to="/cmd_vel"/>
        </node>

    </group>

    <group unless="$(arg autonomous_drive)">
        <node pkg="ros_2310077" type="teleop_gui.py" name="control_gui">
            <remap from="/turtle1/cmd_vel" to="/cmd_vel"/>
        </node>
    </group>

</launch>